* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #fffaf5;
  color: #263238;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --primary: #ff6b35;
  --secondary: #5b5be7;
  --yellow: #ffc857;
  --pink: #ff70a6;
  --green: #42b883;
  --dark: #263238;
  --muted: #68747c;
  --background: #fffaf5;
  --white: #ffffff;
  --border: #ece7e1;
}

.container {
  width: min(1200px, 92%);
  margin: auto;
}

.primary-btn {
  display: inline-block;
  padding: 13px 25px;
  border-radius: 10px;
  background: var(--primary);
  color: white;
  font-weight: 700;
  border: none;
  transition: 0.2s;
}

.primary-btn:hover {
  transform: translateY(-2px);
}

.secondary-btn {
  display: inline-block;
  padding: 13px 25px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-weight: 700;
  background: white;
}